<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body { padding-top: 60px; }
        </style>
        <meta charset="UTF-8">
        <title>User Story Manager - Add new Story</title>
        <link rel="stylesheet" href="https://bootswatch.com/spacelab/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <style>
        table, th, td {border: 1px solid black}
    </style>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Sprint Reporter App</a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="http://127.0.0.1:5000/story">Story</a></li>
            <li><a href="http://127.0.0.1:5000/list">List</a></li>
            </ul>
            </div>
        </nav>
        <form method="post">
        <div>
            <ul>
                <table class="table table-bordered table-striped table-hover table-condensed">
                    <tr>
                        <th>Story title</th>
                        <th>User story</th>
                        <th>Acceptance criteria</th>
                        <th>Business value</th>
                        <th>Estimation time</th>
                        <th>Status</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    {% for row in user_stories %}
                    <tr>
                        <td>{{row.story_title}}</td>
                        <td>{{row.user_story}}</td>
                        <td>{{row.acceptance_criteria}}</td>
                        <td>{{row.business_value}}</td>
                        <td>{{row.estimation}}</td>
                        <td>{{row.status}}</td>
                        <td><a href="{{site}}/{{row.id}}" class="btn btn-danger">Delete</a></td>
                        <td><a href="{{site2}}/{{row.id}}"class="btn btn-warning">Edit</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </ul>
        </div>
        </form>
    </body>
</html>
